.hero {
  position: relative;
  background-image: url(stain.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

.hero-title {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 7;
  color: white;
}

.pokemon-card-container {
  max-width: 490px;
  border-radius: 20px;
  background: url(cards-backgrounds/psique-light.png)
}


.background-pokemon-card {
  content: "";
  height: 107%;
  max-width: 526px;
  background: #9c9c9c;
  background: linear-gradient(180deg, rgba(156, 156, 156, 1) 0%, rgba(230, 230, 230, 1) 100%);
  display: block;
  filter: drop-shadow(5px 5px 10px #000000);  z-index: -1;
  border-radius: 30px;
}


.pokemon-image-container img {
  max-width: 95%;
  max-height: 400px;
  border-radius: 3px;
}

.pokemon-image-container::before {
  content: "";
  width: 97%;
  height: 102%;
  top: -6px;
  z-index: -1;
  display: block;
  position: absolute;
  background: linear-gradient(82deg, rgba(255, 252, 252, 1) 0%, rgba(166, 166, 166, 1) 54%, rgba(156, 156, 156, 1) 100%);
  border-radius: 3px;

}

.card-header-container {
  gap: 57px;
}

.card-header-h3 {
  margin-left: 70px;
  min-width: 197px;
}




.type-container {
  background: url(type-div.svg);
  background-repeat: no-repeat;
  min-width: 111px;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.404));
  z-index: 2;
}

.type-container p {
  font-size: 24px !important;
  margin: -5px 0px 0px -2px;
  font-weight: 700;
  font-style: italic;
}

.ps-container img {
  display: block;
  width: 53px;
}

.poke-stats {
  background: url(pokemon-div.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 31px 6px 31px;
  color: black;
  top: 95%;
  width: 100%;
  background-position-y: -2px;
  height: 34px;
}

.poke-stats p {
  font-size: 0.6rem;
}

.power-container {}

.power-container img {
  width: 30px;
}

.info-container {
  min-height: 250px;
}

.pokemon-description-container::before {
  content: "";
  display: block;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
}



/* bg tipes------------------------- */
.bg-fire {
  background: url('../assets/cards-backgrounds/fire-light.png');
}

.bg-water {
  background: url('../assets/cards-backgrounds/water-light.png');
}

.bg-grass {
  background: url('../assets/cards-backgrounds/grass-light.png');
}

.bg-electric {
  background: url('../assets/cards-backgrounds/electric-light.png');
}

.bg-ice {
  background: url('../assets/cards-backgrounds/water-light.png');
}

.bg-rock {
  background: url('../assets/cards-backgrounds/dragon-light.png');
}

.bg-poison {
  background: url('../assets/cards-backgrounds/psique-light.png');
}

.bg-normal {
  background: url('../assets/cards-backgrounds/normal-light.png');
}

.bg-ground {
  background: url('../assets/cards-backgrounds/ground-light.png');
}

.bg-ghost {
  background: url('../assets/cards-backgrounds/psique-light.png');
}

.bg-fighting {
  background: url('../assets/cards-backgrounds/fight-light.png');
}

.bg-fairy {
  background: url('../assets/cards-backgrounds/psique-light.png');
}

.bg-dragon {
  background: url('../assets/cards-backgrounds/dragon-light.png');
}

.bg-dark {
  background: url('../assets/cards-backgrounds/dark-light.png');
  color: white;
}

.bg-bug {
  background: url('../assets/cards-backgrounds/grass-light.png');
}

.bg-psychic {
  background: url('../assets/cards-backgrounds/psique-light.png');
}

/* ... y así con los demás tipos ... */

.bg-default {
  background: url('../assets/cards-backgrounds/default-light.png');
}
.section-form{
  background: linear-gradient(to right, #1e1e2f, #3a3a5e);
  color: white;
}

.created-card-container {
  position: relative;
  overflow: hidden;
  z-index: 0; /* Asegura que el fondo quede atrás */
  border-radius: 1rem;
  background: url(background-pokeballs.jpg); /* Color blanco semi-transparente */

}
.text-container{
  clip-path: polygon(0% 0%, 99% 0%, 89% 100%, 0% 100%);
  background-color: rgba(218, 160, 3, 0.493);
  padding-right: 70px;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

/* Fondo con blur */
.created-card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  backdrop-filter: blur(5px);
  z-index: -1; /* Que quede detrás del contenido */
}

{

}
.history-container {
  position: relative;
  overflow: hidden;
  z-index: 0; /* Asegura que el fondo quede atrás */
  border-radius: 1rem;
  background: url(background-history.jpg); /* Color blanco semi-transparente */

}

/* Fondo con blur */
.history-container::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  backdrop-filter: blur(5px);
  z-index: -1; /* Que quede detrás del contenido */
}
 h2{
  text-shadow: 3px 2px 6px black;}

@media (max-width: 575.98px) {
  .hero-title {
    width: 100%!important;
  }
  .hero {
    position: relative;
    background-image: url(stain-movile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .background-pokemon-card {
    max-width: 300px;
    padding: 0;
  }


  .type-container {
    left: 14px !important;
    min-width: 78px;
  }

  .type-container p {
    font-size: 17px !important;
  }

  .card-header-container {
    gap: 0;
  }

  .card-header-h3 {
    margin-left: 45px;
    min-width: 105px;
    font-size: 23px;
  }

  .ps-container h3 {
    font-size: 22px;
  }
  .ps-container p {
    font-size: 16px;
  }
  .ps-container img{
    width: 40px;
  }
  .info-container{
    min-height: 190px;
  }
  .poke-stats{
    padding: 5px 0px 6px 0px;
  }

}